body{
    background-image: url(k2.png);
}
.main{
    
    margin: auto;
    padding-left: 45%; 
    padding-top: 15%;
    width: 100%;
    
    
}
.head{
   padding-left: 7%;
   color:floralwhite;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn btn-success{
    color: rebeccapurple;
}

.form-control{
    width: 250px;
    
}
.but{
    padding-left: 10%;
}
.pass{
    padding-left: 7%;
    font-size: 15px;
    color:cyan;
    
}
.pass1{
    padding-left: 7%;
    font-size: 15px;
    color:white;
    
}
.a1{
    color: white;
}